In [9]:
import os
import json
#from cltk import NLP 
#from cltk.core.data_types import Word, Doc, Sentence
# from collections import Counter
from tqdm import tqdm
# import pickle
import pandas as pd

In [10]:
df_sents = pd.read_parquet("sentences.parquet")
df_words = pd.read_parquet("word_to_lemma.parquet")

In [35]:
(100 * df_words.groupby("text").sum("count") / df_words.groupby("text").sum("count").sum()).sort_values(by="count", ascending=False).cumsum()

                 count
text
καὶ           5.488011
δὲ            8.262735
τῶν           9.576984
μὲν          10.872359
τὴν          12.005995
...                ...
σιγῶντα      99.999552
σιγαλόεντι   99.999664
σθω          99.999776
σθαι         99.999888
ῶν          100.000000

[69708 rows x 1 columns]

In [32]:
(100 * df_words.groupby("lemma").sum("count") / df_words.groupby("lemma").sum("count").sum()).sort_values(by="count", ascending=False).cumsum()

                  count
lemma
ὁ             12.282375
καί           17.885027
δέ            20.898048
εἰμί          22.852872
αὐτός         24.640692
...                 ...
μέλον         99.999552
μέλομαι       99.999664
ἀποκρύψομαι   99.999776
μέλλῃς        99.999888
ῶν           100.000000

[39665 rows x 1 columns]

In [18]:
(100 * df_words["count"] / df_words["count"].sum())[:7000].sum()

78.20577368848159

In [ ]:
(100 * lemma_series / lemma_series.sum())[:6_000].sum()

In [ ]:
(100 * word_series / word_series.sum())[:6_000].sum()